body {
    background-color: rgb(128, 223, 218);
    text-align: center;
}
h1{
    font-style: italic;
    color: rgb(122, 163, 240);
}
p{
    color: rgb(0, 0, 0);
}
h2{
color: cornflowerblue;
font-style: italic;
}
h3{
color: cadetblue;
font-style: italic;
}
.curitiba{
    color: black;
}